.section {
  padding: 20px 0px;
}

.form {
  padding: 5px;
}

.input {
  height: 35px;
  padding: 5px 10px;
  width: 300px;
  color: rgb(80, 80, 80);
}

.input:hover,
.input:focus {
  border: 1px solid rgba(32, 113, 254, 0.8);
}

.button {
  height: 35px;
  margin-left: 15px;
  padding: 5px 15px;
}
